<h2>Checks</h2>
<table class="table table-striped table-hover">
    <tbody>
    <f:for each="{data.extra}" as="messages" key="severity">
        <f:for each="{messages}" as="message" key="title">
            <tr>
                <td class="{severity} col-2">

                    <f:switch expression="{severity}">
                        <f:case value="info">
                            <!-- blue warning -->
                            <span class="fa-stack fa-lg text-info">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                            </span>
                        </f:case>
                        <f:case value="warning">
                         <span class="fa-stack fa-lg text-warning">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                        </span>
                        </f:case>
                        <f:case value="danger">
                            <span class="fa-stack fa-lg text-danger">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                            </span>
                        </f:case>
                        <f:case value="success">
                            <!-- green checkmark -->
                            <span class="fa-stack fa-lg text-success">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span>
                        </f:case>
                    </f:switch>
                    <!-- add an orange warning icon -->

                    {title}
                </td>
                <td class="{severity} col-10">
                    {message}
                </td>
            </tr>
        </f:for>
    </f:for>

    </tbody>
</table>